.f-co{
    margin-top: 2%;
    padding: 5% 0%;
}
.cl1{
    margin-left: 5%;
}
.c-u{
    margin-left: 40%;
    margin-top: 30%;
    font-weight: normal;
font-size: 18px;
line-height: 109.9%;
}
.pri-p{
    margin-left: 40%;
    font-weight: normal;
font-size: 18px;
line-height: 109.9%;
}
.cp-r{
    margin-left: 10%;
    margin-top: 20%;
    font-weight: normal;
font-size: 18px;
line-height: 109.9%;
}

.f-h{
    font-weight: normal;
font-size: 30px;
line-height: 160.4%;
}
.f-sub{
    font-weight: normal;
font-size: 18px;
line-height: 109.9%;
}